* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    overflow: auto;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    
    background: pink;
}

.top-nav, .bottom-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background: cyan;
}

.logo {
    height: auto;
    margin-top: 2em;
}

.admin-btns, .settings-btns {
    display: flex; 
    flex-direction: column;
    height: auto;
    gap: 15px;
}

.card-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0 20px 20px;
}

.project-card {
    background: lime;
    text-align: center;
}

.activity-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

    background: palegoldenrod;
}

.announcements, .trending {
    background: mediumslateblue;
}

